.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-square{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 150px ;
  width: 150px;
}
.board-square:hover{
  background-color: rgb(234, 228, 228);
  cursor: pointer;
}
.board-container{
  margin: 50px;
}
.play-btn{
  border: none;
  background-color: mediumseagreen;
  font-weight: bold;
  border-radius:  20px;
  height: 40px;
  display: block;
  width: 120px;
  margin: auto;
}
.Winner-container{
  width: 400px;
  margin: 50px auto;
}